    <!-- Template used to display a fab 
         Used with <app-fab> COMPONENT -->
      <button  type="{{fType}}"  
              class="btn app-fab-button {{fButtonCSS}}" 
              [class.app-fab-click]="clicked" [attr.aria-label]="fAria"
              [class.app-open]="fOpen"
              [disabled]="fDisabled"
              (click)="fabClicked()">
        <div class="d-flex flex-row justify-content-center align-items-center">
          <i class="material-icons {{fIconCSS}} {{fIconColor}}">{{fIcon}}</i> 
        </div>       
      </button>
