    <!-- Template used to show the appropriate action buttons at the bottom of a form. 
         Used with <app-update-actions> COMPONENT -->
    <div id="actions" class="d-flex flex-row justify-content-center align-items-center">
      <app-fab *ngIf="!fDeleteCheck" fAria="fAddCheck ? 'add' : 'save'" [fDisabled]="fDisabled"
               fIcon="{{fAddCheck ? 'add_circle' : 'check_circle'}}">
      </app-fab>
      <app-fab *ngIf="fDeleteCheck" fAria="remove" [fDisabled]="fDisabled"
               fIcon="remove_circle" fIconColor="app-warn">
      </app-fab>
    </div>
