  <div>
    <app-about-heading fIcon="search" fText="Selecting Match Logs"></app-about-heading>
    &nbsp;&nbsp;The <b>Match Log Menu</b> tab displays a menu of all the match logs meeting the parameters you
    specified in the <b>Match Log Search</b> form.
    Selecting an item from this menu and tapping <app-about-text-icon fIcon="check_circle" fColor="app-primary"></app-about-text-icon> will display the <b>View Statistics</b> tab for that match.<br/> 
    <app-about-heading fIcon="playlist_add_check" fText="Selecting Multiple Logs" fIconColor="app-check-green"></app-about-heading>
    &nbsp;&nbsp;Combined Statistics and Trend graphs can be displayed for a group of logs.  Simply select the logs you want to
    include in the graph then tap either the <b>"Combine"</b> or the <b>"Show Trends"</b> selection. Finally, tap
    <app-about-text-icon ati-icon="check_circle" ati-color="app-primary"></app-about-text-icon>.<br/>
    <app-about-heading fIcon="remove_circle" fText="Removing a Match Log" fIconColor="app-warn"></app-about-heading>
    &nbsp;&nbsp;Next to each item on this menu is a remove button. Tap this button to remove the match log from the database.<br /><br />
    <app-about-heading fIcon="warning" fText="Tips and Warnings" fIconColor="app-checkbox" [fDivider]="true"></app-about-heading>
    &nbsp;&nbsp;If you tap the <b>Remove</b> button, you will be given a confirmation prompt to make sure the tap 
    was intentional. Once a match is removed it cannot be retrieved.
  </div>
