  <div>
    &nbsp;&nbsp;The tournaments list contains the names of the tournaments that matches are played in, 
    such as 'Southwest Junior Masters L4'.
    <br/>The <b>Manage Tournaments</b> form allows you to add/remove/change entries in your tournaments list.<br/>
    The fields and buttons are:

    <app-about-heading fIcon="group" fText="Tournament Name" fIconColor="app-light-brown"></app-about-heading>
    &nbsp;&nbsp;This is the name of a of a tournament.
    From the drop-down list, select a tournament name to change/remove or select <strong>New Tournament Name</strong> to add
    a new tournament name to the list.

    <app-about-heading fIcon="edit" fText="Existing Tournament Name" fIconColor="app-light-brown"></app-about-heading>
    &nbsp;&nbsp;This this icon will display next to the input field if you choose an exitsing tournament from the 
    list in the Tournament Name field. Edit or delete this tournament name.

    <app-about-heading fIcon="add_circle_outline" fText="New Tournament Name" fIconColor="app-light-brown"></app-about-heading>
    &nbsp;&nbsp;This icon will display next to the input field if you choose New Tournament Name from the 
    list in the Tournament Name field. Enter a name for the new tournament here.

    <app-about-heading fIcon="check_circle_outline" fText="Save" [fFab]="true" fIconColor="app-primary"></app-about-heading>
    &nbsp;&nbsp;Press this button to submit your list update request.  If successful, you will
    receive a brief notification.

    <app-about-heading fIcon="remove_circle_outline" fText="Remove" fIconColor="app-warn" 
    [fFab]="true"></app-about-heading>
    &nbsp;&nbsp;Press this button to remove the selected tournament from the list.

    <app-about-heading fIcon="highlight_off" fText="Cancel" fIconColor="app-brite-orange" 
    [fFab]="true"></app-about-heading>
    &nbsp;&nbsp;Press this button to return to name selection without changing the current selection.
  </div>
