  <!--define a backdrop container for click-outside-to-close functionality for the about panel-->
  <div *ngIf="aboutOpen()" class="app-click-to-close-about" 
       (click)="closeAbout()"></div>
       
    <!-- About (Help) Panel -->
    <!-- The appropriate help component based on the current helpContext-->

  <div class="d-flex flex-column app-about-container app-slide-right 
              app-whiteframe-2dp app-card-corners mb-1"
       [class.app-open]="aboutOpen()">

       <!-- Card Header -->

    <div class="app-card-top-corners">
      <div class="app-about-header-theme app-card-top-corners">
          <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row justify-content-start align-items-center ml-2"> 
              <app-about-text-icon fIcon="{{helpContextIcon()}}" 
                                   fColor="app-about-color" fSize="L"></app-about-text-icon>
               <!-- <div flex class="d-flex app-about-title1 app-about-color mr-2">How To:</div> -->
              <div flex class="ml-2 d-flex app-about-title2 ">{{helpContextTitle()}}</div> 
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center">
              <button id="aboutCloseBtn" type="button" class="btn app-form-close-button " 
                        (click)="closeAbout()">
                <i class="material-icons app-form-close-icon app-about-color" aria-label="close">arrow_back</i>
              </button>
            </div>
          </div>
      </div>
    </div> 

    <!--Section for context specific help information-->
    <div class="app-about-body-theme app-scroll-frame-left my-2">
      <div *ngIf="helpContext() === 'UsingMatchLog'"        ><app-about-matchlog></app-about-matchlog></div>
      <div *ngIf="helpContext() === 'ContactUs'"            ><app-about-contact-us></app-about-contact-us></div> 
      <div *ngIf="helpContext() === 'ManageEvents'"         ><app-about-manage-events></app-about-manage-events></div>
      <div *ngIf="helpContext() === 'ManagePlayers'"        ><app-about-manage-players></app-about-manage-players></div>
      <div *ngIf="helpContext() === 'ManageLocations'"      ><app-about-manage-locations></app-about-manage-locations></div> 
      <div *ngIf="helpContext() === 'ManageTournaments'"    ><app-about-manage-tournaments></app-about-manage-tournaments></div> 
      <div *ngIf="helpContext() === 'ProfileUpdate'"        ><app-about-account-profile></app-about-account-profile></div> 
      <div *ngIf="helpContext() === 'ChangeEmail'"          ><app-about-account-email></app-about-account-email></div>
      <div *ngIf="helpContext() === 'ChangePassword'"       ><app-about-account-password></app-about-account-password></div>
      <div *ngIf="helpContext() === 'DeleteAccount'"        ><app-about-account-delete></app-about-account-delete></div>
      <div *ngIf="helpContext() === 'Login'"                ><app-about-login></app-about-login></div>
      <div *ngIf="helpContext() === 'MatchLogSearch'"       ><app-about-log-search></app-about-log-search></div>
      <div *ngIf="helpContext() === 'MatchLogMenu'"         ><app-about-log-view-menu></app-about-log-view-menu></div>
      <div *ngIf="helpContext() === 'ViewMatchStatistics'"  ><app-about-log-view></app-about-log-view></div>
      <div *ngIf="helpContext() === 'MatchInformation'"     ><app-about-log-setup></app-about-log-setup></div>
      <div *ngIf="helpContext() === 'PointInformation'"     ><app-about-log-point></app-about-log-point></div>
      <div *ngIf="helpContext() === 'ReviewEditMatchLog'"   ><app-about-log-review-edit></app-about-log-review-edit></div>
      <div *ngIf="helpContext() === 'ResumeMatchLog'"       ><app-about-log-resume></app-about-log-resume></div> 
      <div *ngIf="helpContext() === 'ManagePublicLogsMenu'" ><app-about-manage-public-logs></app-about-manage-public-logs></div> 
      <div *ngIf="helpContext() === 'MakeLogPublic'"        ><app-about-make-log-public></app-about-make-log-public></div> 
      <div *ngIf="helpContext() === 'ManagePublicSettings'" ><app-about-manage-public-settings></app-about-manage-public-settings></div> 
      <div *ngIf="helpContext() === 'PointFilter'"          ><app-about-point-filter></app-about-point-filter></div> 
    </div>
  </div>


