  <div>
    <app-about-heading fIcon="list" fText="Managing Tournaments"></app-about-heading>
    &nbsp;&nbsp;The tournaments list contains the names of the tournaments that matches are played in, 
    such as 'Southwest Junior Masters L4'.
    This form allows you to add/remove/change entries in your tournaments list.
    Here's an explanation of the fields and buttons:<br />
    <app-about-heading fIcon="group" fText="Tournament Name" fIconColor="app-light-brown"></app-about-heading>
    &nbsp;&nbsp;This is the name of a of a tournament.
    From the drop-down list, select a tournament to change/remove it or select <strong>New Tournament Name</strong> to add
    a new tournament name to the list.<br />
    <app-about-heading fIcon="add_circle" fText="New Tournament Name" fIconColor="app-light-brown"></app-about-heading>
    &nbsp;&nbsp;This field will display if you choose New Tournament Name from the list in the Tournament Name field.
     Enter a name for the new tournament here.<br />
    <app-about-heading fIcon="remove_circle" fText="Remove This Entry" fIconColor="app-warn"></app-about-heading>
    &nbsp;&nbsp;Check this box to remove the selected tournament from the list.<br />
    <app-about-heading fIcon="check_circle" fText="Submit Button" [fFab]="true" fIconColor="app-primary"></app-about-heading>
    &nbsp;&nbsp;Press this button to submit your list update request.  If successful, you will
    receive a brief notification.<br />
  </div>
