<div>
    <app-about-text-icon fIcon="edit" fColor="app-brite-orange"
                         [fFab]="true" fFabColor="app-bg-fab-gray"></app-about-text-icon> <b>Edit</b>: <br/>
    <app-about-heading fIcon="assignment" fText="What is MatchLog?"></app-about-heading>
    &nbsp;&nbsp;MatchLog is a website where you can log point information during a tennis match and 
    view that information    as statistics.<br/>&nbsp;&nbsp;Coaches can use this information to pinpoint 
    players' strengths and weaknesses and track improvement over time.<br />
    &nbsp;&nbsp;Data is stored in the cloud so you can access your data anytime from any device.
    <app-about-heading fIcon="folder_open" fText="Create an Account"></app-about-heading>
    &nbsp;&nbsp;The first thing you'll need to do to start using MatchLog is create an account.  Since all data
    is stored in the cloud, we need to know which data is yours. MatchLog accounts are simple, just an
    email address and a password.<br/><br/>
    &nbsp;&nbsp;To create an account tap <app-about-text-icon fIcon="person_outline"></app-about-text-icon>
    on the main screen.<br />
    &nbsp;&nbsp;Then, on the Sign In form:<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;- Enter an email address and password<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;- Check the <b>Create new account</b> box<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;- Enter the same password again<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;- Finally, tap <app-about-text-icon fIcon="check_circle" fColor="app-primary"></app-about-text-icon><br/>
    &nbsp;&nbsp;Thats it!
    <app-about-heading [fImage]="icon" fText="Getting Help"></app-about-heading>
    &nbsp;&nbsp;By the way, if at any time you are unsure of what to do just tap the tennis ball in the upper 
    left corner of the screen and a help panel, like this one, will be displayed that has information 
    relevant to the current activity.<br/>
      <app-about-heading fIcon="settings" fText="Geting Ready to Log"></app-about-heading>
    &nbsp;&nbsp;To start logging a match:<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;- Tap <app-about-text-icon fIcon="edit"></app-about-text-icon> on the main 
    screen<br/>
    &nbsp;&nbsp;Every match log starts out with the <b>SETUP</b> (Log Setup) tab where you 
    enter some identifying information about the match.<br/>
    &nbsp;&nbsp;This includes:<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Date and Time</b><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Tournament</b> (<small>eg. Southwest Summer Open</small>)<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Location</b> (<small>eg. Rolling Hills Tennis Center</small>)<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Event</b> (<small>eg. Girls 18 Singles</small>)<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Round</b> (<small>eg. Round 2</small>)<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Match Format</b> (<small>eg. 2 sets + Tiebreak</small>)<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Scoring Method</b> (<small>Ad or NoAd</small>)<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Player</b> (<small>eg. Mary Smith</small>)<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Opponent</b> (<small>eg. Kelly Jones</small>)<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<b>First to Serve</b> (<small>eg. Kelly Jones</small>)<br/><br/>
    &nbsp;&nbsp;Choices for <b>Player</b>(or Opponent), 
    <b>Tournament</b>, <b>Location</b> and <b>Event</b> 
    are maintained by you in separate lists using the <b>List Management</b> menu.  
    Each function in List Management has its own help panel. Items for each of these lists can 
    also be added on the <b>SETUP</b> tab.<br/>&nbsp;&nbsp;Choices for <b>Round</b>, 
    <b>Match Format</b> and <b>Scoring Method</b> are made from preset lists. 
    <app-about-heading fIcon="edit" fText="Logging the Points"></app-about-heading>
    &nbsp;&nbsp;Once the <b>SETUP</b> tab is complete and submitted 
    (<app-about-text-icon fIcon="check_circle" fColor="app-primary"></app-about-text-icon>),
     MatchLog switches to the <b>LOG</b> (Log Point) tab to allow you to start recording points.<br/>
     Detailed information on how to record point information is on the help panel for that tab.<br/>
      <app-about-heading fIcon="search" fText="Viewing the Stats"></app-about-heading>
    &nbsp;&nbsp;As you record points, the two other tabs, <b>REVIEW</b> and <b>SETUP</b>,
     are active.  Current statistics can be seen on the <b>REVIEW</b> tab and the match identifying 
     information can be viewed/changed on the <b>SETUP</b> tab.<br/>
    &nbsp;&nbsp;To access a different tab, tap its name at the top of the display or swipe left/right.
    <br/><br/>
