  <div>
    <app-about-heading fIcon="play_circle_outline" fText="Resuming a Paused Log"></app-about-heading>
    &nbsp;&nbsp;The <b>Paused Matches</b> tab displays a menu of all the match logs that are paused and ready to continue
    logging.
    Selecting an item from this menu will display the <b>Log Point</b> tab for that match with logging ready to
    continue.<br/><br/> 
    <app-about-heading fIcon="remove_circle" fText="Removing a Match Log" fIconColor="app-warn" [fFab]="true"></app-about-heading>
    &nbsp;&nbsp;Next to each item on this menu is a remove button. Tap this button to remove the match log from the database.<br /><br />
    <app-about-heading fIcon="warning" fText="Tips and Warnings" fIconColor="app-checkbox" [fDivider]="true"></app-about-heading>
    &nbsp;&nbsp;If you tap the <b>Remove</b> button, you will be given a confirmation prompt to make sure the tap 
    was intentional. Once a match is removed it cannot be retrieved.
  </div>
