  <div>
    <app-about-heading fIcon="list" fText="Managing Events"></app-about-heading>
    &nbsp;&nbsp;The events list contains the names of the events players play in, such as 'Girls 18S', when they enter tournaments.
    This form allows you to add/remove/change entries in your events list.
    Here's an explanation of the fields and buttons:<br />
    <app-about-heading fIcon="description" fText="Event Name" fIconColor="app-light-brown"></app-about-heading>
    &nbsp;&nbsp;This is the name of an event players can play in as part of a tournament.
    From the drop-down list, select an event to change/remove it or select <strong>New Event Name</strong> to add
    a new event name to the list.<br />
    <app-about-heading fIcon="add_circle_outline" fText="New Event Name" fIconColor="app-light-brown"></app-about-heading>
    &nbsp;&nbsp;This field will display if you choose New Event Name from the list in the Event Name field.
     Enter a name for the new event here.<br />
    <app-about-heading fIcon="remove_circle_outline" fText="Remove This Entry" fIconColor="app-warn"></app-about-heading>
    &nbsp;&nbsp;Check this box to remove the selected event from the list.<br />
    <app-about-heading fIcon="check_circle_outline" fText="Submit Button" [fFab]="true" fIconColor="app-primary"></app-about-heading>
    &nbsp;&nbsp;Press this button to submit your list update request.  If successful, you will
    receive a brief notification.<br />
  </div>
