  <div>
    <app-about-heading fIcon="folder_open" fText="Changing Your Password"></app-about-heading>
    &nbsp;&nbsp;This form allows you to change the password associated your account.
    Here's an explanation of the fields and buttons:<br />
    <app-about-heading fIcon="mail_outline" fText="Email Address" fIconColor="app-retro-ltgreen"></app-about-heading>
    &nbsp;&nbsp;This is the email that is currently associated with your account.
    The value is filled in by the program.<br />
    <app-about-heading fIcon="lock_open" fText="Current Password" fIconColor="app-retro-ltgreen"></app-about-heading>
    &nbsp;&nbsp;Enter the password currently associated with this account.<br />
    <app-about-heading fIcon="lock_outline" fText="New Password" fIconColor="app-checkbox"></app-about-heading>
    &nbsp;&nbsp;Enter the new password to be associated with this account.<br />
    <app-about-heading fIcon="check_circle" fText="Submit Button" [fFab]="true" fIconColor="app-primary"></app-about-heading>
    &nbsp;&nbsp;Press this button to submit your change request.  If successful, you will
    receive a brief notification.<br />
  </div>
