  <!--define a backdrop container for click-outside-to-close functionality for the about panel-->
  <div *ngIf="aboutOpen()" class="app-click-to-close-about" 
       (click)="closeAbout()"></div>
       
    <!-- About (Help) Panel -->
    <!-- The appropriate help component based on the current helpContext-->

  <div class="d-flex flex-column app-about-container app-slide-right app-whiteframe-2dp"
       [class.app-open]="aboutOpen()">

       <!-- Card Header -->

    <div class="app-whiteframe-2dp">
      <div class="app-about-header-theme">
          <div class="d-flex flex-row">
            <div class="d-flex flex-row justify-content-start align-items-center app-width-15">
              <button type="button" class="btn app-form-image-button " aria-label="help"
                data-toggle="tooltip" data-placement="top" title="Close" data-delay="200"
                        (click)="closeAbout()"> 
                <img class=" app-form-header-image " [src]="icon"/>
              </button>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center app-width-70"> 
              <div flex class="d-flex app-about-title1 ">- How To -</div>
              <div flex class="d-flex app-about-title2 ">{{helpContextTitle()}}</div>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center app-width-15">
              <button id="aboutCloseBtn" type="button" class="btn app-form-close-button " 
                        (click)="closeAbout()">
                <i class="material-icons app-form-close-icon app-white" aria-label="close">arrow_back</i>
              </button>
            </div>
          </div>
      </div>
    </div> 

    <!--Section for context specific help information-->

    <div class="app-scroll-frame-left app-about-body-theme">
      <div *ngIf="helpContext() === 'UsingMatchLog'"        ><app-about-matchlog></app-about-matchlog></div>
      <div *ngIf="helpContext() === 'ContactUs'"            ><app-about-contact-us></app-about-contact-us></div> 
      <div *ngIf="helpContext() === 'ManageEvents'"         ><app-about-manage-events></app-about-manage-events></div>
      <div *ngIf="helpContext() === 'ManagePlayers'"        ><app-about-manage-players></app-about-manage-players></div>
      <div *ngIf="helpContext() === 'ManageLocations'"      ><app-about-manage-locations></app-about-manage-locations></div> 
      <div *ngIf="helpContext() === 'ManageTournaments'"    ><app-about-manage-tournaments></app-about-manage-tournaments></div> 
      <div *ngIf="helpContext() === 'ProfileUpdate'"        ><app-about-account-profile></app-about-account-profile></div> 
      <div *ngIf="helpContext() === 'ChangeEmail'"          ><app-about-account-email></app-about-account-email></div>
      <div *ngIf="helpContext() === 'ChangePassword'"       ><app-about-account-password></app-about-account-password></div>
      <div *ngIf="helpContext() === 'DeleteAccount'"        ><app-about-account-delete></app-about-account-delete></div>
      <div *ngIf="helpContext() === 'Login'"                ><app-about-login></app-about-login></div>
      <div *ngIf="helpContext() === 'MatchLogSearch'"       ><app-about-log-search></app-about-log-search></div>
      <div *ngIf="helpContext() === 'MatchLogMenu'"         ><app-about-log-view-menu></app-about-log-view-menu></div>
      <div *ngIf="helpContext() === 'ViewMatchStatistics'"  ><app-about-log-view></app-about-log-view></div>
      <div *ngIf="helpContext() === 'MatchInformation'"     ><app-about-log-setup></app-about-log-setup></div>
      <div *ngIf="helpContext() === 'PointInformation'"     ><app-about-log-point></app-about-log-point></div>
      <div *ngIf="helpContext() === 'ReviewEditMatchLog'"   ><app-about-log-review-edit></app-about-log-review-edit></div>
      <div *ngIf="helpContext() === 'ResumeMatchLog'"       ><app-about-log-resume></app-about-log-resume></div> 
    </div>
  </div>


