  <div class="container px-2 pt-3 app-pan-y"
       [class.app-open]="matchMenuOpen"
       [style.padding-bottom.px]="300"
		   (swipeleft)="nextTab()" (swiperight)="prevTab()">
    <div class="app-theme-inherit">

	      	<!-- Menu for list of matches from search -->

      <div class="d-flex-flex-column justify-content-start align-items-start app-frame pt-0">
        <div *ngIf="multipleChoices()" class="d-flex flex-row align-items-center">
          <input type="checkbox" id="all" name="selectAll" [(ngModel)]="selectAll"
                      (click)="toggleSelectAll()" class="app-matches-menu-select-all">
          <label for="all">Select All</label>
        </div>
        <ul class="app-matches-menu-ul">
          <li *ngFor="let log of menuMatchList; index as i; last as l">
            <div class="d-flex flex-row align-items-center">
              <button type="button" (click)="toggleMatchSelect(i)" aria-label="select item"
                          class="btn d-flex flex-row justify-content-center align-items-center app-match-menu-delete-button " >
                <i class="material-icons app-check-green app-match-menu-delete-icon">
                  {{matchSelected(i) ? 'check_box' : 'check_box_outline_blank'}}</i>
              </button>
              <button type="button" class="btn d-flex flex-column justify-content-center 
                        align-items-center app-matches-menu-listitem {{l ? 'app-no-border' : ''}} "
                      (click)="toggleMatchSelect(i)">
                <div class="hidden-sm-down app-matches-menu-line1">
                  {{log.date+' - '+log.tournament}}
                </div>
                <div class="hidden-md-up app-matches-menu-line1 ">
                  {{log.date}}
                </div>
                <div class="hidden-md-up app-matches-menu-line1 ">
                  {{log.tournament}}
                </div>
                <div class="hidden-sm-down app-matches-menu-line2 ">
                  {{playerName(log.playerId) + ' .vs. ' + playerName(log.opponentId)}}
                </div>
                <div class="hidden-md-up app-matches-menu-line2 ">
                  {{playerName(log.playerId) + ' .vs'}}
                </div>
                <div class="hidden-md-up app-matches-menu-line2 ">
                  {{playerName(log.opponentId)}}
                </div>
              </button>
              <button type="button" (click)="deleteMatchMenuItem(i)" aria-label="delete item"
                          class="btn d-flex flex-row justify-content-center align-items-center app-match-menu-delete-button " >
                  <i class="material-icons app-warn app-match-menu-delete-icon">remove_circle</i>
              </button>
            </div>
          </li>
        </ul>
        <div *ngIf="multipleSelections()">
          <app-radio-group 
            fTitle          = "Multiple Matches Selected"
            fIcon           = "playlist_add_check"
            fIconColor      = "app-check-green"
            [(fModel)]      = "multiMode" 
            fValues         = "Combine|Trend" 
            fLabels         = "Combine|Show Trends" 
            [fDividerAfter] = "false"
            fName           = "multiMode">
          </app-radio-group>
        </div>
      </div>
    </div>


      <!-- Actions Area -->

      <div class="d-flex flex-row justify-content-center align-items-center" 
           [class.mt-2]="multipleSelections()">
				<app-fab fType="button" [fOnClick]="setSelectedMatches" fAria="Submit">
				</app-fab>
			</div>
			
		</div>
