                <!--Form used to provide the EVENT MANAGEMENT feature-->

<!--<app-waiting-indicator awi-open="!fC.formOpen && !fC.formWasOpen"></app-waiting-indicator>-->

<div 
  class=" app-central-container app-fade-in"
  [ngClass]="{'app-open': formOpen}"
  >


  <!-- Form Header -->

  <app-form-header  headerType        = "center" 
                    headerTitle       = "Manage Events" 
                    headerTheme       = "app-lists-header-theme"
                    closeButtonTheme  = "app-white"
                    [headerClose]     = "closeForm">
  </app-form-header>

                                              <!-- Start of Form -->

  <div class=" app-scroll-frame-center app-card-bottom-corners app-whiteframe-2dp">
    <div class="container app-form-theme px-2 py-3">
      <form #listForm = "ngForm" role="form" novalidate
            (ngSubmit)="submitRequest(listForm)">
        <div class="d-flex flex-column">

        <!-- Instructional messages -->
        <div *ngIf="selectedItem === ''" class="d-flex flex-row justify-content-start app-flex-1 align-items-center 
                     mb-2"
             [style.fontSize.%]="75">
          Select from the list to edit/create an Event
        </div>
        <div *ngIf="selectedItem !== ''" class="d-flex flex-row justify-content-start app-flex-1 align-items-center 
                     mb-2"
             [style.fontSize.%]="75">
          Now edit and save or remove this Event
        </div>

          <!-- Event Name Field -->
          <app-list-item-field 
              [fForm]         = "listForm"
              [(fCheckAll)]   = "checkAll"
              fName           = "itemName"
              fRef            = "iName"
              [(fValue)]      = "selectedItem"
              fLabel          = "Event Name" 
              fIcon           = "description" 
              fColor          = "app-light-brown "
              [fOnDelete]     = "deleteSelectedItem"
              [fRequired]     = "false"
              [fOnFocus]      = "clearRequestStatus"
              [fOnChange]     = "copyItemName"
              [fList]         = "itemList"
              fListValue      = "index"
              [fEqual]        = "false"
              fNewTest        = ""
              fNewName        = "newIName"
              fNewRef         = "nIName"
              [(fNewValue)]   = "newItemName"
          >
          </app-list-item-field>

          <!-- Messages Area -->
          <app-form-messages 
            [fWorkingOpen]    = "!haveStatusMessages() && working"
            [fMessageOpen]    = "haveStatusMessages() && !working"
            [fMessageObj]     = "requestStatus">
          </app-form-messages>                    
                            
          <!-- Button to close form -->
          <app-footer-button 
            [fOnClick]      = "closeForm">
          </app-footer-button>

        </div>
      </form>
    </div>
  </div>
</div>
