                <!--Form used to provide the PLAYER MANAGEMENT feature-->
<!--<app-waiting-indicator [fOpen]="formOpen && formWasOpen"></app-waiting-indicator>-->

<div
  class=" app-central-container app-fade-in mb-2"
  [ngClass]="{'app-open': formOpen}"
  (swipeleft)="closeForm()" (swiperight)="closeForm()"
  >
       <!-- Form Header -->

  <app-form-header  headerType="center" 
                    headerTitle="Manage Players" 
                    headerTheme="app-lists-header-theme"
                    closeButtonTheme="app-white"
                    [headerClose]="closeForm">
  </app-form-header>

       <!-- Start of Form -->

  <div id="view-container"
       class="app-scroll-frame-center app-card-bottom-corners app-whiteframe-2dp">
    <div class="container app-form-theme px-2 py-3">
      <form #playerForm = "ngForm" role="form" novalidate
            (ngSubmit)="submitRequest(playerForm)">
        <div class="d-flex flex-column">

            <!-- Player selection field -->

          <app-list-item-field 
            [fForm]         = "playerForm"
            fName           = "itemName"
            fRef            = "iName"
            [fRequired]     = "true" 
            [(fValue)]      = "selectedItem"
            fLabel          = "Player Name" 
            fIcon           = "face" 
            fColor          = "app-light-brown "
            [fOnFocus]      = "clearRequestStatus"
            [fOnChange]     = "setItemFields"
            [fList]         = "itemList"
            [fShowNew]      = "true"
            [fAllowNew]     = "false"
            fListValue      = "player">
          </app-list-item-field>

            <!-- Player firstName field -->

          <app-icon-input
            [fForm]       = "playerForm" 
            fRef          = "pF" 
            fName         = "pFirst" 
            [fRequired]   = "selectedItem != ''" 
            [fDisabled]   = "selectedItem == ''"
            fType         = "text" 
            fLabel        = "First Name"  
            fIcon         = "looks_one"
            fColor        = "app-light-brown" 
            [(fValue)]    = "item.firstName" 
            fPattern      = "^[ \w]{1,}$"
            fMaxLength    = "30"
            fErrors       = "required|pattern"
            fErrorMsgs    = "A first name is required.|Invalid first name character/format."
            fExtraCSS     = "pb-2"
            [fFocusFn]    = "clearRequestStatus">
          </app-icon-input>

            <!-- Player lastName field -->

          <app-icon-input
            [fForm]       = "playerForm" 
            fRef          = "pL" 
            fName         = "pLast" 
            [fRequired]   = "selectedItem != ''" 
            [fDisabled]   = "selectedItem == ''"
            fType         = "text" 
            fLabel        = "Last Name"  
            fIcon         = "looks_two"
            fColor        = "app-light-brown" 
            [(fValue)]    = "item.lastName" 
            fPattern      = "^[ \w]{1,}$"
            fMaxLength    = "30"
            fErrors       = "required|pattern"
            fErrorMsgs    = "A last name is required.|Invalid last name character/format."
            fExtraCSS     = "pb-1"
            [fFocusFn]    = "clearRequestStatus">
          </app-icon-input>

          <!-- Handed field -->

          <app-radio-group 
            fTitle      = "Player Plays"
            fIcon       = "swap_horiz"
            fIconColor  = "app-light-brown"
            [(fModel)]  = "item.handed" 
            [fOnFocus]  = "clearRequestStatus"
            fValues     = "Right|Left" 
            fLabels     = "Right|Left" 
            fName       = "handed">
          </app-radio-group>

          <!-- Gender field -->

          <app-radio-group 
            fTitle      = "Gender"
            fIcon       = "wc"
            fIconColor  = "app-light-brown"
            [(fModel)]  = "item.gender" 
            [fOnFocus]  = "clearRequestStatus"
            fValues     = "Male|Female" 
            fLabels     = "Male|Female" 
            fName       = "gender">
          </app-radio-group>

          <!-- Player Notes field -->

          <app-icon-input
            [fForm]       = "playerForm" 
            fRef          = "pN" 
            fName         = "pNotes" 
            [fDisabled]   = "selectedItem == ''"
            fType         = "textarea" 
            fLabel        = "Notes"  
            fIcon         = "edit"
            fColor        = "app-light-brown" 
            [(fValue)]    = "item.notes" 
            fPattern      = "^[ -.!?\w]{1,}$"
            fMaxLength    = "1000"
            fErrors       = "pattern"
            fErrorMsgs    = "Invalid note character/format."
            fExtraCSS     = "mb-2"
            [fFocusFn]    = "clearRequestStatus">
          </app-icon-input>

          <!-- Creation Date Field -->

          <app-icon-input
            [fForm]       = "playerForm" 
            fRef          = "cD" 
            fName         = "cDate" 
            [fDisabled]   = "selectedItem == ''"
            [fReadonly]   = "true"
            fType         = "text" 
            fLabel        = "Created On"  
            fIcon         = "today"
            fColor        = "app-light-brown" 
            fExtraCSS     = "mb-2"
            [(fValue)]    = "item.createdOn">
          </app-icon-input>

          <!-- Delete entry option -->
          <app-delete-entry 
            [(fValue)]    ="deleteItem" 
            [fCanDelete]  ="canDeleteItem">
          </app-delete-entry>

          <!-- Messages Area -->
          <app-form-messages 
            [fWorkingOpen]  ="!haveStatusMessages() && working"
            [fMessageOpen]  ="haveStatusMessages() && !working"
            [fMessageObj]   ="requestStatus">
          </app-form-messages>                    
                            
          <!-- Actions Area -->
          <app-update-actions 
            [fDeleteCheck]  ="deleteItem" 
            [fAddCheck]     ="selectedItem == '999'">
          </app-update-actions>
          </div>
      </form>
    </div>
  </div>
</div>
