                <!--Form used to provide the PLAYER MANAGEMENT feature-->
<!--<app-waiting-indicator [fOpen]="formOpen && formWasOpen"></app-waiting-indicator>-->

<div
  class=" app-central-container app-fade-in mb-2"
  [ngClass]="{'app-open': formOpen}"
  >
       <!-- Form Header -->

  <app-form-header  headerType="center" 
                    headerTitle="Manage Players" 
                    headerTheme="app-lists-header-theme"
                    closeButtonTheme="app-white"
                    [headerClose]="closeForm">
  </app-form-header>

       <!-- Start of Form -->

  <div id="view-container"
       class="app-scroll-frame-center app-card-bottom-corners app-whiteframe-2dp">
    <div class="container app-form-theme px-2 py-3">
      <form #playerForm = "ngForm" role="form" novalidate
            (ngSubmit)="submitRequest(playerForm)">
        <div class="d-flex flex-column">

        <!-- Instructional messages -->
        <div *ngIf="selectedItem === ''" class="d-flex flex-row justify-content-start app-flex-1 align-items-center 
                     mb-2"
             [style.fontSize.%]="75">
          Select from the list to edit/create a Player
        </div>
        <div *ngIf="selectedItem !== ''" class="d-flex flex-row justify-content-start app-flex-1 align-items-center 
                     mb-2"
             [style.fontSize.%]="75">
          Now edit and save or remove this Player
        </div>

            <!-- Player selection field -->
          <app-list-item-field 
            [fForm]         = "playerForm"
            [(fCheckAll)]   = "checkAll"
            fName           = "itemName"
            fRef            = "iName"
            [fRequired]     = "false" 
            [(fValue)]      = "selectedItem"
            fLabel          = "Player Name" 
            fIcon           = "face" 
            fColor          = "app-light-brown "
            [fOnFocus]      = "clearRequestStatus"
            [fOnChange]     = "setItemFields"
            [fList]         = "itemList"
            [fShowNew]      = "true"
            [fAllowNew]     = "false"
            fListValue      = "player">
          </app-list-item-field>

            <!-- Player firstName field -->
          <app-icon-input
            [fForm]       = "playerForm" 
            [(fCheckAll)] = "checkAll"
            fRef          = "pF" 
            fName         = "pFirst" 
            [fRequired]   = "selectedItem != ''" 
            [fDisabled]   = "selectedItem == ''"
            fType         = "text" 
            fLabel        = "First Name"  
            fIcon         = "looks_one"
            fColor        = "app-light-brown" 
            [(fValue)]    = "firstName" 
            [fCapitalize] = "true"
            fPattern      = "^[ #/-\w]{1,}$"
            fMaxLength    = "30"
            fErrors       = "required|pattern"
            fErrorMsgs    = "A first name is required.|Invalid first name character/format."
            fExtraCSS     = "pb-2"
            [fFocusFn]    = "clearRequestStatus">
          </app-icon-input>

            <!-- Player lastName field -->
          <app-icon-input
            [fForm]       = "playerForm" 
            [(fCheckAll)] = "checkAll"
            fRef          = "pL" 
            fName         = "pLast" 
            [fRequired]   = "selectedItem != ''" 
            [fDisabled]   = "selectedItem == ''"
            fType         = "text" 
            fLabel        = "Last Name"  
            fIcon         = "looks_two"
            fColor        = "app-light-brown" 
            [(fValue)]    = "lastName" 
            [fCapitalize] = "true"
            fPattern      = "^[ /#-\w]{1,}$"
            fMaxLength    = "30"
            fErrors       = "required|pattern"
            fErrorMsgs    = "A last name is required.|Invalid last name character/format."
            fExtraCSS     = "pb-1"
            [fFocusFn]    = "clearRequestStatus">
          </app-icon-input>

          <!-- Handed field -->
          <app-radio-group 
            fTitle      = "Player Plays"
            fIcon       = "swap_horiz"
            fIconColor  = "app-light-brown"
            [(fModel)]  = "handed" 
            [fOnFocus]  = "clearRequestStatus"
            fValues     = "Right|Left" 
            fLabels     = "Right|Left" 
            fName       = "handed">
          </app-radio-group>

          <!-- Gender field -->
          <app-radio-group 
            fTitle      = "Gender"
            fIcon       = "wc"
            fIconColor  = "app-light-brown"
            [(fModel)]  = "gender" 
            [fOnFocus]  = "clearRequestStatus"
            fValues     = "Male|Female" 
            fLabels     = "Male|Female" 
            fName       = "gender">
          </app-radio-group>

          <!-- Player Notes field -->
          <app-icon-input
            [fForm]       = "playerForm" 
            [(fCheckAll)] = "checkAll"
            fRef          = "pN" 
            fName         = "pNotes" 
            [fDisabled]   = "selectedItem == ''"
            fType         = "textarea" 
            fLabel        = "Notes"  
            fIcon         = "edit"
            fColor        = "app-light-brown" 
            [(fValue)]    = "notes" 
            fPattern      = "^[ -.!?\w]{1,}$"
            fMaxLength    = "1000"
            fErrors       = "pattern"
            fErrorMsgs    = "Invalid note character/format."
            fExtraCSS     = "mb-2"
            [fFocusFn]    = "clearRequestStatus">
          </app-icon-input>

          <!-- Creation Date Field -->
          <app-icon-input
            [fForm]       = "playerForm" 
            fRef          = "cD" 
            fName         = "cDate" 
            [(fValue)]    = "createdOn"
            [fDisabled]   = "true"
            fType         = "text" 
            fLabel        = "Created On"  
            fIcon         = "today"
            fColor        = "app-light-brown" 
            fExtraCSS     = "mb-2">
          </app-icon-input>

          <!-- Actions Area -->
          <div *ngIf="selectedItem !== ''" 
                class="d-flex flex-row justify-content-center align-items-center">
            <label class="app-smaller-font mr-4 mb-0">
              <app-fab
                      fType       = "submit"
                      [fOpen]     = "true"
                      fButtonCSS  = "app-fab-sm app-bg-fab-gray mb-1"
                      [fDelay]    = "200"
                      fAria       = "add"
                      fIcon       = "check_circle_outline"
                      fIconCSS    = "app-fab-icon-sm"
                      fIconColor  = "app-primary">
              </app-fab>
                Save
            </label>
            <label *ngIf="selectedItem != '999'" class="app-smaller-font mr-4 mb-0">
              <app-fab
                      fType       = "button"
                      [fOpen]     = "true"
                      fButtonCSS  = "app-fab-sm app-bg-fab-gray mb-1"
                      [fDelay]    = "200"
                      [fOnClick]  = "deleteSelectedItem"
                      [fParam]    = "playerForm"
                      fAria       = "remove"
                      fIcon       = "remove_circle_outline"
                      fIconCSS    = "app-fab-icon-sm"
                      fIconColor  = "app-warn">
              </app-fab>
                Remove
            </label>
            <label class="app-smaller-font mb-0">
              <app-fab 
                      fType       = "button"
                      [fOpen]     = "true"
                      fButtonCSS  = "app-fab-sm app-bg-fab-gray mb-1"
                      [fDelay]    = "200"
                      [fOnClick]  = "resetForm"
                      [fParam]    = "playerForm"
                      fAria       = "cancel"
                      fIcon       = "highlight_off"
                      fIconCSS    = "app-fab-icon-sm"
                      fIconColor  = "app-brite-orange">
              </app-fab>
                Cancel
            </label>
          </div>
                            
          <!-- Messages Area -->
          <app-form-messages 
            [fWorkingOpen]  ="!haveStatusMessages() && working"
            [fMessageOpen]  ="haveStatusMessages() && !working"
            [fMessageObj]   ="requestStatus">
          </app-form-messages>                    
                            
          <!-- Button to close form -->
          <app-footer-button 
            [fOnClick]      = "closeForm">
          </app-footer-button>

        </div>
      </form>
    </div>
  </div>
</div>
