
    <!-- Main Toolbar for Small Screens -->
    <!-- Toolbar is a single row that starts with the Logo followed by
    a set of feature buttons and finally a button to activate the full menu -->
  <div  id="mainToolbarSm"
        class=" nav app-toolbar-theme app-main-short-toolbar hidden-md-up app-pos-relative
               d-flex flex-row justify-content-between align-items-center">

                <!-- Display the 2-line Logo Text -->
    <div class="d-flex flex-row justify-content-start align-items-start app-logo-area">
      <div class="d-flex flex-column justify-content-start align-items-start app-logo-text-container ">
        <div class=" app-logo-text1 ">MatchLogs</div>
        <div class=" app-logo-text2 app-text-center">Tennis Logs</div>
      </div>
    </div>
                <!-- Now some feature buttons -->
    <button type="button" class="btn app-bar-feature-button "  
            data-toggle="tooltip" data-placement="top" title="View Logs" data-delay="200"
                (click)="menuItemSelected('logsView')">
      <i class="material-icons app-bar-feature-icon align-self-end" aria-label="view logs">assignment</i>
    </button>
    <button type="button" class="btn app-bar-feature-button "  
            data-toggle="tooltip" data-placement="top" title="Create Log" data-delay="200"
                (click)="menuItemSelected('logsCreate')">
      <i class="material-icons app-bar-feature-icon" aria-label="create log">edit</i>
    </button>
    <button type="button" class="btn app-bar-feature-button "  
            data-toggle="tooltip" data-placement="top" title="Players" data-delay="200"
                (click)="menuItemSelected('managePlayers')">
      <i class="material-icons app-bar-feature-icon" aria-label="manage players">face</i>
    </button>
                <!-- Show different icon for Sign In .vs. Sign Out -->
    <button *ngIf="!loggedIn()" type="button" class="btn app-bar-feature-button "  
            data-toggle="tooltip" data-placement="top" title="Sign In" data-delay="200"
                (click)="menuItemSelected('login')">
      <i class="material-icons app-bar-feature-icon" aria-label="sign in">person_outline</i>
    </button>
    <button *ngIf="loggedIn()" type="button" class="btn app-bar-feature-button "  
            data-toggle="tooltip" data-placement="top" title="Sign Out" data-delay="200"
                (click)="logout($event)">
      <i class="material-icons app-bar-feature-icon" aria-label="sign out">person</i>
    </button>
                <!--slide-down menu activation icon-->
    <div class=" d-flex flex-row app-slidedown-menu-button ">
      <button id="slideDownBtn" type="button" class="btn app-slidedown-menu-button app-menu-button app-no-margin "  
              data-toggle="tooltip" data-placement="top" title="Menu" data-delay="200"
                  (click)="toggleSlidenav()"
                  [disabled]="aboutOpen()">
        <i class="material-icons app-slidedown-menu-icon app-slide-open-icon app-font-normal" 
                  [class.app-visible]="!slidenavOpen()"
                  aria-label="open menu">more_vert</i>
        <i class="material-icons app-slidedown-menu-icon app-slide-close-icon app-font-normal" 
                  [class.app-visible]="slidenavOpen()"
                  aria-label="open menu">arrow_upward</i>
      </button>
    </div>
  </div>

  <!--define a backdrop container for click-outside-to-close functionality for the slide-down menu-->
   <div *ngIf="slidenavOpen()" class="app-click-to-close-slidenav" 
       (click)="closeSlidenav()"></div>
        
                              <!-- Main SideDown Menu -->

  <div id="slideDownMenu"
       class="hidden-md-up app-slide-menu app-slide-down" 
       [class.app-open]="slidenavOpen()">
    <div class="d-flex flex-column justify-content-start align-items-start app-whiteframe-2dp app-frame app-scrollable">
        <ul class="d-flex flex-column app-slide-menu-ul app-form-theme">
          <li id="myLogsMenu">
            <button type="button" class="btn app-slide-menu-listitem" (click)="toggleLogsMenu()">
              <div class="d-flex flex-row align-items-center">
                <i class="material-icons app-logs-color app-menu-item-icon">assignment</i>
                My Logs
                <i class="material-icons app-form-theme-text ml-1">{{!logsMenuOpen() ? 'arrow_drop_down' : 'arrow_drop_up'}}</i>
              </div>
            </button>
            <div class="app-slidenav-submenu" [class.app-open]="logsMenuOpen()">
              <ul class="app-slide-menu-ul">
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('logsView')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-logs-color app-menu-item-icon-sm">assignment</i>
                      View My Logs
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('logsCreate')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-logs-color app-menu-item-icon-sm">edit</i>
                      Create a Log
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('logsResume')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-logs-color app-menu-item-icon-sm">play_circle_outline</i>
                      Resume a Log
                    </div>
                  </button>
                </li>
              </ul>
            </div>
          </li>
          <li id="publicLogsMenu">
            <button type="button" class="btn app-slide-menu-listitem" (click)="togglePublicLogsMenu()">
              <div class="d-flex flex-row align-items-center">
                <i class="material-icons app-public-logs-color app-menu-item-icon">assignment_ind</i>
                Public Logs
                <i class="material-icons app-form-theme-text ml-1">{{!logsMenuOpen() ? 'arrow_drop_down' : 'arrow_drop_up'}}</i>
              </div>
            </button>
            <div class="app-slidenav-submenu" [class.app-open]="publicLogsMenuOpen()">
              <ul class="app-slide-menu-ul">
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('viewPublicLogs')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-public-logs-color app-menu-item-icon-sm">assignment_ind</i>
                      View Public Logs
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('managePublicLogs')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-public-logs-color app-menu-item-icon-sm">settings_applications</i>
                      Manage Public Logs
                    </div>
                  </button>
                </li>
              </ul>
            </div>
          </li>
          <li id="listsMenu">
            <button type="button" class="btn app-slide-menu-listitem" (click)="toggleListsMenu()">
              <div class="d-flex flex-row align-items-center">
                <i class="material-icons app-lists-color app-menu-item-icon ">list</i>
                List Management
                <i class="material-icons app-form-theme-text ml-1">{{!listsMenuOpen() ? 'arrow_drop_down' : 'arrow_drop_up'}}</i>
              </div>
            </button>
            <div class="app-slidenav-submenu" [class.app-open]="listsMenuOpen()">
              <ul class=" app-slide-menu-ul ">
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('manageEvents')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-lists-color app-menu-item-icon-sm">description</i>
                      Manage Events
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('managePlayers')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-lists-color app-menu-item-icon-sm">face</i>
                      Manage Players
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('manageLocations')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-lists-color app-menu-item-icon-sm">place</i>
                      Manage Locations
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('manageTournaments')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-lists-color app-menu-item-icon-sm">group</i>
                      Manage Tournaments
                    </div>
                  </button>
                </li>
              </ul>
            </div>
          </li>
          <li id="accountMenu">
            <button type="button" class="btn app-slide-menu-listitem" (click)="toggleAccountMenu()">
              <div class="d-flex flex-row align-items-center">
                <i class="material-icons app-accounts-color app-menu-item-icon ">folder_open</i>
                Account
                <i class="material-icons app-form-theme-text ml-1">{{!accountMenuOpen() ? 'arrow_drop_down' : 'arrow_drop_up'}}</i>
              </div>
            </button>
            <div class="app-slidenav-submenu" [class.app-open]="accountMenuOpen()">
              <ul class=" app-slide-menu-ul ">
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('accountProfile')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-accounts-color app-menu-item-icon-sm">person</i>
                      Edit Profile
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('accountEmail')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-accounts-color app-menu-item-icon-sm">mail_outline</i>
                      Change Email
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('accountPassword')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-accounts-color app-menu-item-icon-sm">lock</i>
                      Change Password
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="menuItemSelected('accountDelete')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-accounts-color app-menu-item-icon-sm">delete_forever</i>
                      Delete Account
                    </div>
                  </button>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <button id="aboutMenuBtn" type="button" class="btn app-slide-menu-listitem" (click)="toggleAboutMenu()">
              <div class="d-flex flex-row align-items-center">
                <i class="material-icons app-about-color app-menu-item-icon ">info_outline</i>
                About
                <i class="material-icons app-form-theme-text ml-1">{{!aboutMenuOpen() ? 'arrow_drop_down' : 'arrow_drop_up'}}</i>
              </div>
            </button>
            <div class="app-slidenav-submenu" [class.app-open]="aboutMenuOpen()">
              <ul class=" app-slide-menu-ul ">
                <li>
                  <button id="aboutMatchLogBtn" type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="showAbout('UsingMatchLog')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-about-color app-menu-item-icon-sm">assignment</i>
                      Using MatchLogs
                    </div>
                  </button>
                </li>
                <li>
                  <button id="aboutContactBtn" type="button" class="btn app-slide-menu-listitem app-subitem-spacing" 
                          (click)="showAbout('ContactUs')">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-about-color app-menu-item-icon-sm">message</i>
                      Contacting MatchLogs
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn app-slide-menu-listitem app-subitem-spacing app-disabled">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-about-color app-menu-item-icon-sm">person</i>
                        User: {{loggedIn() ? userEmail() : 'Not signed in'}}
                    </div>
                  </button>
                </li>
                <li>
                  <button type="button" class="btn app-small-font 
                                              app-slide-menu-listitem app-subitem-spacing app-disabled">
                    <div class="d-flex flex-row align-items-center">
                      <i class="material-icons app-about-color app-menu-item-icon-sm">build</i>
                      MatchLogs Version: {{version}}
                    </div>
                  </button>
                </li>
              </ul>
            </div>
          </li>
          <li *ngIf="!loggedIn()">
            <button id="signInBtn" type="button" aria-label="sign in"
                       class="btn app-slide-menu-listitem " (click)="menuItemSelected('login')">
              <div class="d-flex flex-row align-items-center">
                <i class="material-icons app-retro-ltblue app-menu-item-icon">person_outline</i>
                Sign In
              </div>
            </button>
          </li>
          <li *ngIf="loggedIn()">
            <button id="signOutBtn" type="button" aria-label="sign out"
                       class="btn app-slide-menu-listitem " (click)="closeSlidenav(); logout($event)">
              <div class="d-flex flex-row align-items-center">
                <i class="material-icons app-retro-ltblue app-menu-item-icon">person</i>
                Sign Out
              </div>
            </button>
          </li>
        </ul>
    </div>
  </div>

  <!-- Main Toolbar for Other Screen Sizes -->
  <!-- Toolbar is a single row that starts with the Logo followed by
  a number of drop-down menus, a Sign In/Sign Out button and finally 
  an icon indicating signed in status -->

  <div  id="mainToolbarLg"
        class=" nav app-toolbar-theme app-main-short-toolbar hidden-sm-down 
               d-flex flex-row justify-content-between align-items-center">
    <div class="d-flex flex-row justify-content-start align-items-start app-logo-area">
      <div class="d-flex flex-column justify-content-start align-items-start app-logo-text-container ">
        <div class="app-logo-text1">MatchLogs</div>
        <div class="app-logo-text2 app-text-center">Tennis Logs</div>
      </div>
    </div>
    <ul id="mainMenu" class="nav app-white">
                <!-- Dropdown menu for private log features -->
      <li id="myLogsMenu" ngbDropdown class="nav-item dropdown app-lt-border-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle app-toolbar-text" data-toggle="dropdown" 
           href="#" role="button" aria-haspopup="true" aria-expanded="false">My Logs</a>
        <div class="dropdown-menu app-toolbar-submenu-theme">
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="logsView">View My Logs</a>
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="logsCreate">Create a Log</a>
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="logsResume">Resume a Log</a>
        </div>
      </li>
                <!-- Dropdown menu for public log features -->
      <li id="publicLogsMenu" ngbDropdown class="nav-item dropdown app-lt-border-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle app-toolbar-text" data-toggle="dropdown" 
           href="#" role="button" aria-haspopup="true" aria-expanded="false">Public Logs</a>
        <div class="dropdown-menu app-toolbar-submenu-theme">
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="viewPublicLogs">View Public Logs</a>
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="managePublicLogs">Manage Public Logs</a>
        </div>
      </li>
                <!-- Dropdown menu for list management features -->
      <li id="listsMenu" ngbDropdown class="nav-item dropdown app-lt-border-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle app-toolbar-text" data-toggle="dropdown" href="#" 
           role="button" aria-haspopup="true" aria-expanded="false">List Management</a>
        <div class="dropdown-menu app-toolbar-submenu-theme">
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="manageEvents">Manage Events</a>
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="managePlayers">Manage Players</a>
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="manageLocations">Manage Locations</a>
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="manageTournaments">Manage Tournaments</a>
        </div>
      </li>
                <!-- Dropdown menu for account management features -->
      <li id="accountMenu" ngbDropdown class="nav-item dropdown app-lt-border-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle app-toolbar-text" data-toggle="dropdown" href="#" 
           role="button" aria-haspopup="true" aria-expanded="false">Account</a>
        <div class="dropdown-menu app-toolbar-submenu-theme">
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="accountProfile">Edit Profile</a>
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="accountEmail">Change Email</a>
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="accountPassword">Change Password</a>
          <a role="button" class="dropdown-item app-dropdown-text" uiSref="accountDelete">Delete Account</a>
        </div>
      </li>
                <!-- Dropdown menu for about features -->
      <li ngbDropdown class="nav-item dropdown app-lt-border-right">
        <a  id="aboutMenuBtn" ngbDropdownToggle class="nav-link dropdown-toggle app-toolbar-text" data-toggle="dropdown" 
           href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
        <div class="dropdown-menu app-toolbar-submenu-theme">
          <a id="aboutMatchLogBtn" role="button" class="dropdown-item app-dropdown-text" (click)="showAbout('UsingMatchLog')">Using MatchLogs</a>
          <a id="aboutContactBtn" role="button" class="dropdown-item app-dropdown-text" (click)="showAbout('ContactUs')">Contacting MatchLogs</a>
          <a class="dropdown-item app-dropdown-disabled-text">
            User:{{loggedIn() ? ' ' + userEmail() : ' Not signed in'}}</a>
          <a class="dropdown-item app-dropdown-disabled-text">MatchLogs Version: {{' ' + version}}</a>
        </div>
      </li>
                <!-- Button for Sign In/Sign Out function -->
      <li id="signInBtn" *ngIf="!loggedIn()" class="nav-item">
        <a role="button" class="nav-link app-toolbar-text" (click)="closeSlidenav()" uiSref="login">Sign In</a>
      </li>
      <li id="signOutBtn" *ngIf="loggedIn()" class="nav-item app-toolbar-text">
        <a role="button" class="nav-link app-toolbar-text" (click)="closeSlidenav(); logout($event)">Sign Out</a>
      </li>
    </ul>  
                <!-- Icon for signed in/out status -->
    <div id="authStatus" class="pr-2 d-flex flex-row align-items-center">
      <i *ngIf="!loggedIn()" class="material-icons">person_outline</i>
      <i *ngIf="loggedIn()" class="material-icons">person</i>
    </div>
  </div>
