<!--Form used to provide the PROFILE UPDATE feature-->

<!--<app-waiting-indicator awi-open="!fC.formOpen && !fC.formWasOpen"></app-waiting-indicator>-->

<div 
  class=" app-central-container app-fade-in"
  [ngClass]="{'app-open': formOpen}"
  (swipeleft)="closeForm()" (swiperight)="closeForm()"
  >


  <!-- Form Header -->

  <app-form-header  headerType        = "center" 
                    headerTitle       = "Update Profile" 
                    headerTheme       = "app-account-header-theme"
                    closeButtonTheme  = "app-white"
                    [headerClose]     = "closeForm">
  </app-form-header>

  <!-- Start of Form -->

  <div class=" app-scroll-frame-center app-card-bottom-corners app-whiteframe-2dp">
    <div class="container app-form-theme px-2 py-3">
      <form #profileForm = "ngForm" role="form" novalidate
            (ngSubmit)="submitRequest(profileForm)">
        <div class="d-flex flex-column">

             <!-- Default Player field -->

          <app-list-item-field 
              [fForm]         = "profileForm"
              fName           = "playerName"
              fRef            = "pName"
              [(fValue)]      = "profile.defaultPlayerId"
              fLabel          = "Usual player being logged:"
              fIcon           = "face" 
              fColor          = "app-accounts-color"
              [fOnFocus]      = "clearRequestStatus"
              [fList]         = "playerList"
              fListValue      = "player"
              [fAllowNew]     = "false">
          </app-list-item-field>

              <!-- Default Opponent Gender field -->

          <app-radio-group 
            fTitle          = "Usual gender of opponents:"
            fIcon           = "wc"
            fIconColor      = "app-accounts-color"
            [(fModel)]      = "profile.defaultOpponentGender" 
            [fOnFocus]      = "clearRequestStatus"
            fValues         = "Male|Female" 
            fLabels         = "Male|Female" 
            [fDividerAfter] = "false"
            fName           = "gender">
          </app-radio-group>

            <!-- Status Message Area -->

          <app-form-messages 
            [fWorkingOpen]  ="!haveStatusMessages() && working"
            [fMessageOpen]  ="haveStatusMessages() && !working"
            [fMessageObj]   ="requestStatus">
          </app-form-messages>                    

            <!-- Actions Area -->

            <app-update-actions></app-update-actions>
          </div>
        </form>
    </div>
  </div>
</div>
