                <!--Form used to provide the ACCOUNT LOGIN feature-->

<div class="app-central-container app-fade-in" 
     [class.app-open]="formOpen"
     (swipeleft)="closeForm()" (swiperight)="closeForm()">

  <!-- Form Header -->

  <app-form-header  headerType        = "center" 
                    headerTitle       = "Account Sign In" 
                    headerTheme       = "app-account-header-theme"
                    closeButtonTheme  = "app-white"
                    [headerClose]     = "closeForm">
  </app-form-header>

  <!-- Start of Form -->

  <div class=" app-scroll-frame-center app-card-bottom-corners app-whiteframe-2dp">
    <div class="container app-form-theme px-2 py-3">
      <form #loginForm = "ngForm" role="form" novalidate
            (ngSubmit)="sendLoginRequest(loginForm)">
        <div class="d-flex flex-column">

          <!-- Email field -->

          <app-icon-input
            [fForm]       = "loginForm" 
            fRef          = "uE" 
            fName         = "uEmail" 
            [fRequired]   = "true" 
            fType         = "email" 
            fLabel        = "Email Address"  
            fIcon         = "mail_outline"
            fColor        = "app-accounts-color" 
            [(fValue)]    = "userEmail" 
            fErrors       = "required|email"
            fErrorMsgs    = "An email address is required.|Invalid email address character/format."
            [fFocusFn]    = "clearRequestStatus">
          </app-icon-input>

          <!-- Password field -->

          <app-icon-input
            [fForm]       ="loginForm" 
            fRef          ="uP" 
            fName         ="uPassword" 
            [fRequired]   ="true" 
            fType         ="password" 
            fLabel        ="Password" 
            fIcon         ="lock_open"
            fColor        ="app-accounts-color" 
            [(fValue)]    ="userPassword" 
            fErrors       ="required|pattern|minlength"
            fErrorMsgs    ="A password is required.|Invalid password character/format.|Password must be at least 6 characters."
            fMinlength    ="6" 
            fMaxlength    ="16" 
            fPattern      ="^[a-zA-Z]+[$%!#\w]*$" 
            fExtraCSS     ="mt-2"
            [fFocusFn]    ="clearRequestStatus">
          </app-icon-input>

          <!-- Hidden fields for creating a new account -->

          <div class=" d-flex flex-column app-vertical-expand app-form-theme-text"
                [class.app-open]="showNewAccountFields()">

            <!-- Password confirmation field -->

            <app-icon-input
              [fForm]     ="loginForm" 
              fRef        ="cP" 
              fName       ="cPassword" 
              [fRequired] ="showNewAccountFields()" 
              fType       ="password" 
              fLabel      ="Confirm Password" 
              fColor      ="app-accounts-color" 
              [(fValue)]  ="passwordConfirm" 
              fErrors     ="required|pattern|minlength" 
              fIcon       ="lock_outline"
              fErrorMsgs  ="Password confirmation is required.|This value must match the Password.|Password must be at least 6 characters."
              fErrorsMulti="true" 
              fMinlength  ="6" 
              fMaxlength  ="16" 
              fPattern    ="{{userPassword}}" 
              fExtraCSS   ="mt-1 mb-2"
              [fFocusFn]  ="clearRequestStatus">
            </app-icon-input>

          </div>

            <div class="mt-1">
            <input type="checkbox" *ngIf="!newAccount" id="newAcct" name="createAcc" [(ngModel)]="createAccount"
                        (click)="clearNewAccountFields()" class="app-input-icon-area">
            <label for="newAcct">Create new account</label>
          </div>

          <!-- Remember Me field -->

          <div>
            <input type="checkbox" *ngIf="!requestStatus.incorrectPassword" id="memberMe" name="memberMe"
                    [(ngModel)]="rememberLogin" class="app-input-icon-area">
            <label for="memberMe">Remember me</label>
          </div>

          <!-- Status Message Area -->

          <app-form-messages 
            [fWorkingOpen]    = "!haveStatusMessages() && working"
            [fMessageOpen]    = "haveStatusMessages() && !working"
            [fMessageObj]     = "requestStatus">
          </app-form-messages>                    

          <!-- Actions Area -->

          <div class="d-flex flex-row justify-content-center align-items-center" id="actions">
            <app-fab *ngIf="!newAccount && !requestStatus.incorrectPassword" fAria="sign in"
                      fIcon="{{createAccount ? 'add_circle' : 'check_circle'}}">
            </app-fab>
            <app-fab *ngIf="newAccount" fAria="sign in"
                      fIcon="arrow_forward">
            </app-fab>
            <app-fab *ngIf="requestStatus.incorrectPassword"
                      fAria="forgot password" fIcon="sentiment_dissatisfied" fIconColor="app-warn"
                      fType="button" [fOnClick]="requestPasswordReset">
            </app-fab>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
